<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
</head>
<body>
  <h1> This page belongs to @<%= data.name %></h1>

<button>Follow</button><button>Message</button>

<span>Followers: <%= data.followers %>  </span>

<span>  Following: <%= data.following %> </span>

<hr/>



  <img src="" alt="">
</body>
</html>