<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            API SELF ASSIGNMENT
        </title>
    </head>
    <body>
        <h1>GET</h1>
        <form method="get">
            <label for="">username</label>
            <input type="text" name="username">
            <label for="">password</label>
            <input type="text">
            <button type="submit">Submit</button>
        </form>
        <h1>Post</h1>
        <form method="Post">
            <label for="">username</label>
            <input type="text" name="username">
            <label for="">password</label>
            <input type="text">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
