<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
</head>
<body>
  <h1>Create a post</h1>
  <form action="/new" method="post">
    <label for="">Enter Username</label>
    <input type="text" name="username">
    <label for="">Enter Content</label>
    <textarea name="content" id="">
      
    </textarea>
    <button type="submit">
      ADD POST
    </button>
  </form>
  
</body>
</html>