#mainTopi{
  color:blue;

}
*{
  text-align: center;
}

h1 h5 h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.para{
  background-color: cornflowerblue;
  color:white;
}

div>button{
  color: azure;
  background-color:purple ;
}

button:hover{
  background-color: yellow;
  color: blue;
}


.para:nth-of-type(2n-1){
color:yellow;
}

#mainTopic::first-letter{
  color:red;

}

input[type= checkbox]:checked +label{
 color:darkgreen;
}