#q1{
  height: 150px;
  background-color: grey;
  width: 300px;
  margin: 20px 1em 40px 2em ;
  padding: 1em;
  border:5px dotted black
}

.q2{
  height: 100px;
  width:100px;
  background-color: pink;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
}

li{
  display:inline;
}