*{
  Margin:5px;
}

.outer{
height:400px;
width:400px;

background-color: rgb(220, 255, 255);
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center; 
border: 2px solid rgb(12, 243, 243);
font-size: 50px;
border-radius: 10px;


}

.inner{
height: 100px;
width: 100px;
background-color: rgb(126, 125, 125);
border: 2px solid rgb(0, 0, 0);
border-radius: 10px;
text-align: center;
margin-bottom: 10px;
}





#q2Outer{
height: 50px;
width:900px;
border: 3px solid lightblue;
border-radius: 6px;
background-color: rgb(252, 195, 189);
display :flex;
flex-direction: row;
align-items: flex-start;

}

.q2inner{
  font-size: 24px;
}