*{
   text-align: justify;
}
h2{


  align-items: center;
}

.tagline{

}


.cards-div{

}

.cardHeader{
display: flex;
justify-content:center;
font-weight: 4px ;

}

.cardBody
{
display: flex;
flex-direction:column;
justify-content:justify;
align-items: center;

}

.card-title{

}


.card-text{

}


