*{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}


.outer
{
 background-color: #212121;
  display:grid;
  grid-template:repeat(12,50px);
  /* border: 2px solid black; */
  grid-template-columns:repeat(12,120px);
  grid-template-rows: repeat(12,auto);
  width: 1020;
  height:720px;

}


nav{
  background-color: black;
  border: 2px solid black;
  color:#404040;
  grid-column:1/13;
  grid-row:1/1;
  display:flex; 
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 60px;


}


 .navdiv{
  
  display: flex;
  align-items: center;
  gap: 15px;
} 

#navleft{
  justify-self:flex-start;
  flex-wrap: nowrap;
}

#navright{
flex: 1;
}

#logo{
  width:25px;
  height:25px;
  
}

.housefav{
  color:white;
  border: 10px solid #404040;
  border-radius: 100%;
}

#search{
 flex: 2;
  max-width: 400px;
  height:50%;
  border: 2px solid black;
  display:flex;
  flex-wrap: nowrap;
  justify-content:center;
  border-radius: 50px;
  background-color: #121212;
  padding: 5px 12px;
  align-items: center;
  gap: 1opx;
}

#searchArea{
  height: 25px;
  width:150px;
  border:none;
  background: transparent;
  outline: none;
  color:white;
}

.srchpara{
display:inline-block;
}

.navlink{
  text-decoration: none;
   color: #404040;
}

.navlink:hover{
  color: white;
}

.navbutton{
  border-radius: 50%;
  text-decoration: none;
   color: #404040;

}
/* 
.signup{
  color:white;
  
} */

#login{
 
background-color: white;
color: black;
padding: 8px 14px;
border-radius: 20px;
}





section{
  background-color: #212121;
  border: 2px solid black;
  grid-column: 1/3;
  grid-row:2/13;
  padding:5px;
  margin:2px;
  display: flex;
  flex-direction: column;
  justify-content:start;
}

.sidebartop{
  display :flex ;
  align-items: center;
  justify-content: space-between;
color :white;


}

.sidebardiv{

  background-color: #404040;
  border: 2px solid  #404040;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction:column;

  padding:5px;
}
.sidebarhead{
 color: white;
  font-weight: 8px;
}
.sidebarpara{
  color:white;
}


/* .sidebarlinkdiv{
 
} */
.sidebarlink{
text-decoration: none;
color: #121212;

}






main{
  background-color: #212121;
  border: 2px solid black;
  grid-column: 3/13;
  grid-row:2/13;
  margin-right: 5px;
  padding: 2px;
}

.mainhead{
  color: white;
  font-weight: 9px;
}
.maindiv{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;


}
.mainlist{
  margin: 2px;
  padding: 3px;
  box-shadow:2px 2px;
  display: flex;
 justify-content: flex-start;
 flex-wrap: nowrap;
 flex-direction:column;
 border-radius: 5px;
 align-items: center;

}
.mainimg{
width: 150px;
height: 150px;
}
.mainname{
  color:white;
  font-weight:7px;
}

.maindesc{
 font-weight:5px;
 color: #404040;
}



footer{
  background-color: #212121;
  border: 2px solid black;
  grid-column:1/13;
   grid-row:13/13;
   
}


